In [2]:
#Import psycopg2 to make connection to postgres work
import psycopg2

In [4]:
#Import password from config
from config import password

In [5]:
# Import Matplot lib
import matplotlib
from matplotlib import style
style.use('seaborn')
import matplotlib.pyplot as plt

In [6]:
#Import Pandas
import pandas as pd

In [7]:
# Import SQLAlchemy `automap` and other dependencies here
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [8]:
# Create an engine for the postgres database
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/postgres', echo=False)
connection = engine.connect()

In [9]:
# Use the Inspector to explore the database and print the table names
inspector = inspect(engine)
inspector.get_table_names()

['actor',
 'address',
 'city',
 'country',
 'customer',
 'film',
 'film_actor',
 'inventory',
 'payment',
 'rental',
 'staff',
 'store',
 'customer_list',
 'titles',
 'employees',
 'dept_emp',
 'departments',
 'dept_manager',
 'salaries']

In [10]:
# Use Inspector to print the column names and types
columns = inspector.get_columns('employees')
for c in columns:
    print(c['name'], c["type"])

emp_no INTEGER
emp_title_id VARCHAR(5)
birth_date VARCHAR(255)
first_name VARCHAR(255)
last_name VARCHAR(255)
sex VARCHAR(255)
hire_date VARCHAR(255)

In [11]:
# Use `engine.execute` to select and display the first 10 rows from the employees table
engine.execute('SELECT * FROM employees LIMIT 10').fetchall()

[(473302, 's0001', '7/25/1953', 'Hideyuki', 'Zallocco', 'M', '4/28/1990'),
 (475053, 'e0002', '11/18/1954', 'Byong', 'Delgrande', 'F', '9/7/1991'),
 (57444, 'e0002', '1/30/1958', 'Berry', 'Babb', 'F', '3/21/1992'),
 (421786, 's0001', '9/28/1957', 'Xiong', 'Verhoeff', 'M', '11/26/1987'),
 (282238, 'e0003', '10/28/1952', 'Abdelkader', 'Baumann', 'F', '1/18/1991'),
 (263976, 'e0003', '10/30/1959', 'Eran', 'Cusworth', 'M', '11/14/1986'),
 (273487, 's0001', '4/14/1957', 'Christoph', 'Parfitt', 'M', '6/28/1991'),
 (461591, 's0002', '11/17/1964', 'Xudong', 'Samarati', 'M', '11/13/1985'),
 (477657, 'e0002', '12/18/1962', 'Lihong', 'Magliocco', 'M', '10/23/1993'),
 (219881, 's0002', '4/24/1956', 'Kwangyoen', 'Speek', 'F', '2/14/1993')]

In [12]:
#Automap and reflect the database
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['titles', 'employees', 'departments']

In [ ]:
#Didn't work. Make a declarative base instead.